.homepage{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    background-color: rgb(227, 215, 215);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 30px;
    border-radius: 10px;
}
.home-left{
    display: flex;
    flex-direction: column;   
}
.home-left h1 {
    margin-left: 25px;
    color: rgb(62, 61, 61);
}
.home-left h1 .name{
    color: black;
}
.home-left h2{
    color: rgb(181, 4, 4);
    margin-top: -10px;
}
.social-icons{
    width: fit-content;
    padding: 8px 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 5px;
}
.social-icons .icon{
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.social-icons .icon .linkedin{
    color: rgb(0, 68, 255);
}
.social-icons .icon .github{
    color: rgb(3, 3, 3);
}
.social-icons .icon .whatsapp{
    color: rgba(14, 207, 4, 0.81);
}
.social-icons .icon:hover{
    transform: scale(1.4);
    transition: 0.3s;
}
.home-left button{
    background-color: rgb(23, 96, 254);
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 3px 8px;
    width: fit-content;
    border: none;
    transition: 0.4s;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 38px;
}
.home-left button:hover{
    background-color: rgb(1, 81, 255);
    color: rgb(255, 255, 255);
    transition: 0.2s;
    cursor: pointer;
}
.home-right{
    width: 35%;
    height: 480px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(#0059ff,rgb(11, 149, 219), rgb(11, 149, 219), rgb(243, 237, 237),rgb(255, 255, 255));
    border-radius:84% 16% 43% 57% / 68% 67% 33% 32%   ;
    animation: img-move 6s infinite;
}

.home-right img{
    width:250px;
    border-radius:20px;
    margin-right: 45px;
}
    
@media only screen and (max-width: 450px){

 .homepage{
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
     background-color: white;
     height: fit-content;
     padding: 30px 10px;
    } 
    .home-right{
        width: 70%;
        height: 480px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:linear-gradient(rgb(0, 89, 255),rgb(11, 149, 219), rgb(11, 149, 219), rgb(243, 237, 237),rgb(255, 255, 255));
        border-radius: 16% 84% 46% 54% / 53% 46% 54% 47% ;
        animation: img-move 6s infinite;
    }
}
@media only screen and (min-width: 600px){
    .homepage{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 50px;
        background-color: white;
        padding: 30px 10px;
        height: fit-content;
       } 
  .home-right{
    width: 45%;
    height: 480px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgb(0, 89, 255),rgb(11, 149, 219), rgb(11, 149, 219), rgb(243, 237, 237),rgb(255, 255, 255));
    border-radius: 16% 84% 46% 54% / 53% 46% 54% 47% ;
    animation: img-move 6s infinite;
}
}
